<h3>Accueil</h3>
<div class="m-4 p-4 bg-light">
  <h4>Application réalisée dans le cadre du projet Spring/Angular</h4>
  <h5>Consignes du Projet</h5>

  <p>Créer un front Angular permettant d'interagir avec l'application back de gestion de formations réalisée en Spring. Les groupes seront les mêmes que pour le projet back.</p>
  
  <p>Il s'agira d'une application avec typage, routage, services, et, bien entendu, multi-composants.</p>
  
  <p>Votre application devra permettre d'effectuer les opérations CRUD sur les entités filière et module.<br>
  Ainsi, l'interface permettra, par exemple:</p>
  <ul>
    <li>d'enregistrer une filière</li>
    <li>de modifier une filière</li>
    <li>de supprimer une filière</li>
    <li>de lister les filières</li>
  </ul>

  <p>Le clic sur une filière (depuis la liste) devra conduire sur une page dédiée affichant la totalité des informations relatives à cette filière (libellé, modules, etc.)</p>
  
  <p>Le clic sur un module (depuis la liste des modules ou depuis une page filière) devra conduire sur une page dédiée affichant la totalité des informations relatives à ce module (libellé, formateur, etc.)</p>
  
  <p>Pour ce projet, les endpoints (routes) requêtés par l'application Front seront publics. Il ne sera donc pas nécessaire d'en protéger l'accès. Toutefois, si vous en avez les moyens, vous êtes autorisés à ajouter un mécanisme de protection des endpoints (exemple: par token).</p>
  
  <p>Des contraintes de validation sur les formulaires, bien que facultatives dans ce projet, seront toute de même appréciées.</p>
  
  <p>La stylisation est ici secondaire. Vous êtes libre d'utiliser un framework (exemple: bootstrap) si vous le souhaitez.</p>
  
  <p>Les sources de l'application Angular devront être placées sur un dépôt git dont l'adresse devra m'être communiquée.</p>
  
  <p>Vous pouvez m'envoyer le lien vers votre dépôt dans un simple fichier texte en réponse à ce devoir, dans AJC classroom.</p>
  
  <p>N.B: si vous ne disposez pas du back complet ou d'un back différent, vous êtes autorisés à travailler avec d'autres entités que les entités Filière et Module. L'important dans ce projet est de valider votre capacité à faire communiquer un back Spring avec un front Angular.</p>
</div>

